@use '../config' as *;

.download {
  padding-right: 2em;
  padding-left: 2em;

  &__body {
    font-size: .94rem;
  }
  
  @include desktop {
    margin-top: 50px !important;

    &__body {
      margin: 1.5em auto;
      width: 540px;
      font-size: 1.1rem;
    }
  }
}

.card-container {
  .card {
    border: none;
    box-shadow: 0 5px 10px  rgba($color: rgb(211, 211, 211), $alpha: .8);
    text-align: center;
    margin-bottom: 3.5em;
    border-radius: 20px;

    &__img {
      width: 36%;
      margin: 1.5em auto 1em auto;
    }

    &__text {
      font-size: .9rem;
    }
  }
  
  .card-body {
    padding: 15px 0 15px 0;
  }
  
  .card-btn-container {
    background: url('/images/bg-dots.svg') no-repeat center center;
    background-position: top;
    margin: 2em 0 0 0;
    padding: .5em 0;
  }

  @include desktop {
    width: 900px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

    .card {
      width: 275px;
      height: 350px;

      &:nth-child(2) {
        margin-top: 2em;
      }
      &:nth-child(3) {
        margin-top: 4em;
      }

      .btn {
        border-color: var(--soft-blue);

        &:hover,&:Focus {
          background: #fff;
          color: var(--soft-blue);
        }
      }
    }
  }
}