@use '../config' as *;

.faq {
  .faq-top {
    padding-left: 1em;
    padding-right: 1em;
  }
  
  &__body {
    font-size: .95rem;
  }
  
  .btn-primary {
    width: 34%;
    margin-top: 2em;
  }
  
  @include desktop {
    padding: 1.5em !important;
    font-size: 1.3rem !important;
    width: 630px;
    
    &__body {
      font-size: 1.1rem;
      margin-bottom: 1.7em !important;
    }

    .btn-primary {
      width: 120px;
      margin-top: 2.4em;
      border-color: var(--soft-blue);

      &:hover,&:Focus {
        border-color: var(--soft-blue);
        background: var(--soft-blue);
        color: #fff;
      }
    }
  }
}

.accordion-item {
  margin-bottom: .7em;

  .accordion-button {
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: .925rem !important;
  }
  
  .show {
    border: 1px solid var(--graylish-b);
    padding-left: 0 !important;
    text-align: left;
    font-size: .925rem !important;
  }
  
  @include desktop {
    .accordion-button {
      font-size: 1.1rem !important;
      font-weight: 500;

      &:hover,&:focus {
        color: var(--soft-red);
      }
    }
    
    .show {
      font-size: 1.2rem !important;
    }
  }
}