@use '../config' as *;

.features {
  padding-left: 1.35em;
  padding-right: 1.35em;

  &__body {
    font-size: .95rem;
    line-height: 1.7;
  }
}

.features-info {
  @include desktop {
    width: 540px;
    margin-left: auto;
    margin-right: auto;

    .features__body {
      font-size: 1.12rem;
      margin: 1em 0 2.1em 0;
    }
  }
}

.feature-selector {
  li {
    border-top: 1px solid var(--graylish-b);
    
    &:last-child {
      border-bottom: 1px solid var(--graylish-b);
    }
  }

  &__item {
    position: relative;
    color: var(--graylish-b);
    font-size: 1.1rem;
    transition: .2s all ease-in-out;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 56px;
      left: 50%;
      width: 44%;
      height: 3px;
      transform: translateX(-50%);
    }

    &:hover {
      color: var(--dark-blue);
      font-weight: 500;
      transition: .2s all ease-in-out;
    
      &::before {
        background: var(--soft-red);
        transition: .2s all ease-in-out;
      }
    }

    &--active {
      color: var(--dark-blue);
      font-weight: 500;
      transition: .3s all ease-in-out;
    
      &::before {
        background: var(--soft-red);
        transition: .3s all ease-in-out;
      }
    }
  }

  @include desktop {
    width: 720px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0 3em .9em 3em;

    li {
      border-top: none;

      &:last-child {
        border-bottom: none;
      }

      &:nth-child(2) {
        margin-left: 4em;
        margin-right: 5em;
      }
    }

    &__item {
      &::before {
        top: 72px;
        height: 4px;
        width: 140%;
      }
    }
  }
}

.feature-container {
  @include desktop {
    padding-left: 7%;
    padding-right: 7.3%;
    display: flex;
    justify-content: space-between;

    &__infography {
      width: 50%;
      max-width: 536px;
    }
  }

}

.feature-info {
  &__title {
    font-weight: 600;
  }
  &__body {
    font-size: .95rem;
    line-height: 1.7;
  }
  .feature__btn {
    display: none;
  }

  @include desktop {
    width: 435px;
    padding-top: 3.8em !important;
    text-align: left;
    
    &__title {
      font-size: 2rem;
    }
    &__body {
      font-size: 1.12rem;
      margin: 1em 0 !important;
    }

    .feature__btn {
      display: block;
      width: 120px;
    }
  }
}
