@use '../config' as *;

footer {
  background-color: var(--dark-blue);
}

.footer {
  &__logo {
    width: 150px;
  }
  &__list {
    padding: 2em 0 0 0;

    li {
      margin-bottom: 1.1em;
    }
  }
  &__list-item {
    color: #fff;
    text-transform: uppercase;
  }

  @include desktop {
    display: flex;
    align-items: flex-start;
    padding: 1em 7.3% 0 7.3% !important;

    &__list {
      display:  flex;
      padding: 0;
      margin-left: 3.5em;
      margin-bottom: 0;
      
      li {
        font-size: 1rem;
        transition: all 0.3s ease-in-out;
        
        a:hover {
          color: var(--soft-red);
          transition: all 0.3s ease-in-out;
        }

        &:not(:first-child) {
          margin: 0;
          margin-left: 2.5em;
        }
      }
    }

    .footer-content {
      display: flex;
      align-items: flex-start;
    }
  }  
}

.social-footer {
  display: flex;
  width: 88px;
  justify-content: space-between;
  margin: .5em auto;

  &__item {
    transition: all .3s ease-in-out;
    
    &:hover,
    &:focus {
      svg path {
        fill: var(--soft-red);
        transition: all .3s ease-in-out;
      }
    }
  }

  @include desktop {
    margin-right: 0;
  }  
}